book/
.DS_Store
__pycache__/
.venv/
*.sqlite
*.db
.env
code/ep05/data/cancel_log.txt
code/ep06/data/cancel_log.txt
code/ep07/data/cancel_log.txt
code/ep08/data/cancel_log.txt
code/ep09/data/cancel_log.txt
code/ep10/data/cancel_log.txt
