book/
.DS_Store
__pycache__/
.venv/
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
.env
code/ep05/data/cancel_log.txt
code/ep06/data/cancel_log.txt
code/ep07/data/cancel_log.txt
code/ep08/data/cancel_log.txt
code/ep09/data/cancel_log.txt
code/ep10/data/cancel_log.txt
code/ep11/data/cancel_log.txt
code/ep12/data/cancel_log.txt
code/ep13/data/cancel_log.txt
code/ep14/data/cancel_log.txt
code/ep15/data/cancel_log.txt
